body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: gainsboro;
  font-family: 'Hanken Grotesk', sans-serif;
}

* {
  box-sizing: border-box;
}

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin: auto;
}

.component-wrapper {
  background-color: white;
  display: flex;
  flex-direction: row;
  border-radius: 2rem;
  width: 700px;
  height: 510px;
  box-shadow: 10px 10px 30px 10px #F2F1F1;
}

/* Left card and contents */

.left-content-wrapper {
  background: linear-gradient(
    180deg,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: white;
  padding: 2rem;
  border-radius: 2rem;
}

.result-heading {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  opacity: 0.7;
  font-weight: 500;
}

.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0) 100%
  );
  border-radius: 100%;
  width: 200px;
  height: 200px;
}

.large-number {
  font-size: 4rem;
  margin: 0;
  line-height: 1;
  font-weight: 800;
}

.of-100 {
  margin: 0;
  opacity: 0.5;
}

.great-heading {
  font-size: 1.8rem;
  line-height: 1;
  font-weight: 700;
  margin: 0;
  margin-top: 2rem;
}

.score-info {
  font-size: 18px;
  text-align: center;
  margin: 0;
  opacity: 0.6;
  margin-top: 1.5rem;
  max-width: 250px;
}

/* Right card and contents */

.right-content-wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
  border-radius: 2rem;
}

.summary-heading {
  font-size: 1.4rem;
  text-align: left;
  margin-bottom: 1.5rem;
  color: hsl(224, 30%, 27%);;
}

.rows {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.specific-results-1 {
  background-color: hsl(0, 100%, 67%, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
  border-radius: 1rem;
}

.specific-results-2 {
  background-color: hsl(39, 100%, 56%, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
  border-radius: 1rem;
}

.specific-results-3 {
  background-color: hsl(166, 100%, 37%, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
  border-radius: 1rem;
}

.specific-results-4 {
  background-color: hsl(234, 85%, 45%, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
  border-radius: 1rem;
}

.stats-name-wrapper{
  display: flex;
  flex-direction: row;
}

.icon {
  margin-right: 10px;
}

.stats-name-1 {
  color: hsl(0, 100%, 67%);
  font-weight: 500;
  font-size: 18px;
}
.stats-name-2 {
  color: hsl(39, 100%, 56%);
  font-weight: 500;
  font-size: 18px;
}
.stats-name-3 {
  color: hsl(166, 100%, 37%);
  font-weight: 500;
  font-size: 18px;
}
.stats-name-4 {
  color: hsl(234, 85%, 45%);
  font-weight: 500;
  font-size: 18px;
}

.stats-numbers {
  font-size: 18px;
  font-weight: 800;
  color: hsl(224, 30%, 27%);
}

.hundred {
  color: black;
  opacity: 0.6;
  font-size: 18px;
  font-weight: 700;
}

button {
  color: white;
  padding: 1rem 0px;
  border: none;
  border-radius: 2rem;
  font-size: 16px;
  font-weight: 700;
  padding: 1rem 0;
  margin-top: 1rem;
  background: hsl(224, 30%, 27%);
  cursor: -webkit-grab;
}

button:hover {
  color: white;
  padding: 1rem 0px;
  border: none;
  border-radius: 2rem;
  font-size: 16px;
  font-weight: 700;
  padding: 1rem 0;
  margin-top: 1rem;
  background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%) 100%);
  transition: 2s ease-in;
}



@media only screen and (max-width: 375px) {
  body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: gainsboro;
    font-family: 'Hanken Grotesk', sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 100%;
  }
  
  .component-wrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    width: 375px;
    height: 700px;
    box-shadow: 10px 10px 30px 10px #F2F1F1;
  }
  
  /* Left card and contents */
  
  .left-content-wrapper {
    background: linear-gradient(
      180deg,
      hsl(252, 100%, 67%),
      hsl(241, 81%, 54%) 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
    padding: 0;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    border-radius: 0 0 2rem 2rem;
  }
  
  .result-heading {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    opacity: 0.7;
    font-weight: 500;
  }
  
  .circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      180deg,
      hsla(256, 72%, 46%, 1),
      hsla(241, 72%, 46%, 0) 100%
    );
    border-radius: 100%;
    width: 150px;
    height: 150px;
  }
  
  .large-number {
    font-size: 3.5rem;
    margin: 0;
    line-height: 1;
    font-weight: 800;
  }
  
  .of-100 {
    margin: 0;
    opacity: 0.5;
  }
  
  .great-heading {
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 700;
    margin: 0;
    margin-top: 1.6rem;
  }
  
  .score-info {
    font-size: 17px;
    text-align: center;
    margin: 0;
    opacity: 0.6;
    margin-top: 0.8rem;
    max-width: 280px;
  }
  
  /* Right card and contents */
  
  .right-content-wrapper {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.7rem 2rem;
    border-radius: 0;
  }
  
  .summary-heading {
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 1.4rem;
  }
  
  .rows {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
  }
  
  .specific-results-1 {
    background-color: hsl(0, 100%, 67%, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.1rem 1rem;
    border-radius: 0.8rem;
  }
  
  .specific-results-2 {
    background-color: hsl(39, 100%, 56%, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.1rem 1rem;
    border-radius: 1rem;
  }
  
  .specific-results-3 {
    background-color: hsl(166, 100%, 37%, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.1rem 1rem;
    border-radius: 1rem;
  }
  
  .specific-results-4 {
    background-color: hsl(234, 85%, 45%, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.1rem 1rem;
    border-radius: 1rem;
  }
  
  .stats-name-wrapper{
    display: flex;
    flex-direction: row;
  }
  
  .icon {
    margin-right: 10px;
  }
  
  .stats-name-1 {
    color: hsl(0, 100%, 67%);
    font-weight: 500;
    font-size: 16px;
  }
  .stats-name-2 {
    color: hsl(39, 100%, 56%);
    font-weight: 500;
    font-size: 16px;
  }
  .stats-name-3 {
    color: hsl(166, 100%, 37%);
    font-weight: 500;
    font-size: 16px;
  }
  .stats-name-4 {
    color: hsl(234, 85%, 45%);
    font-weight: 500;
    font-size: 16px;
  }
  
  .stats-numbers {
    font-size: 16px;
    font-weight: 800;
    color: hsl(224, 30%, 27%);
  }
  
  .hundred {
    color: black;
    opacity: 0.6;
    font-size: 16px;
    font-weight: 700;
  }
  
  button {
    color: white;
    padding: 1rem 0px;
    border: none;
    border-radius: 2rem;
    font-size: 16px;
    font-weight: 700;
    padding: 1.2rem 0;
    margin-top: 0.5rem;
    background: hsl(224, 30%, 27%);
    cursor: -webkit-grab;
  }
  
  button:hover {
    color: white;
    padding: 1rem 0px;
    border: none;
    border-radius: 2rem;
    font-size: 16px;
    font-weight: 700;
    padding: 1.2rem 0;
    margin-top: 0.5rem;
    background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%) 100%);
    transition: 2s ease-in;
  }
  }
}