@font-face {
    font-family: 'Hanken Grotesk';
    src: url('/results-summary-component-main/assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('ttf') tech('variations');
    font-weight: 500 700 800;
  }

body { 
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: gainsboro;
}

.main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: auto;
}

.component-wrapper {
    background-color: white; 
    display: flex;
    flex-direction: row;
    border-radius: 2rem;
}

/* Left card and contents */

.left-content-wrapper {
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: white;
    padding: 1rem 2rem;
    border-radius: 2rem;
}

.result-heading {
    font-size: 18px;    

}

.circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: darkblue;
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.large-number {
    font-size: 6rem;
    margin: 0px;
    line-height: 0.9;
}

.of-100 {
    margin: 0px;

}

.great-heading {
    font-size: 2rem;
    line-height: 1;
    font-family: Hanken-Gortesk;
}

.score-info {

}

/* Right card and contents */

.right-content-wrapper{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 2rem;
    border-radius: 2rem;
}

.summary-heading {

    text-align: left;

}

.rows {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;

}

.feature {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 1rem;
    border-radius: 1rem;
}

.stats {

}

.hundred {

}

button {
    padding: 1rem 0px;
    border: none;
    border-radius: 2rem;    

}